nav img{
    width: 4em;
    height: 3em;
}

body{
    background-color: #0a97b0;
    font-family: 'Open Sans', sans-serif;
}


/*************index page********************/
#index-page .card{
    max-width: 25em;
    border: none;
    border-radius: 1em;
}

#index-page .round-btn{
    border-radius: 1em;
    width: 8em;
}

#index-page .card-header{
    background-color: #4cd3c2;
    border-radius: 1em 1em 0 0;
}

/*************end index page********************/

/*************admin-home page********************/
#admin-home .background{
    background-color: #fff;
    padding: 1em 1em 1em 1em;
    border-radius: 0.5em;
}

#admin-home .card-img{
   width: 20em;
   height: 18em;
}

#admin-home .card{
    border-radius: 0.6em;
    max-width: 25em;
    margin-top: 1.5em;
}

#admin-home .round-btn{
    border-radius: 1em;
    width: 8em;
}

#admin-home .card-header{
    background-color: #4cd3c2;
    border-radius: 0.6em 0.6em 0 0;
}

/*************end admin-home page********************/